<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Droit</title>
	<style>
  @font-face{
    font-family: myriad;
    src: url(MYRIADPRO-REGULAR.OTF);
  }
  html{
    font-family: myriad;
  }
    .pages{
      width:794px;
      height:1122px;
      border-style: solid;
    }

    .titres{
      text-align: center;
    }

    .redBG{
      background-color: red;
      color: white;
      font-weight: bold;
    }

    .index{
      text-align: center;
      position: relative;
      top: -25px;
    }

    .nums{
      position: relative;
      bottom: 0%;
      left: 48%;
    }
	</style>
  </head>
  <body>
    <div class="pages">

        <div id="partie1" class="parties">
          <h1 class="titres"> Rappels </h1>

        <p> <h3><u> Définition: </u></h3> <ul><li>Ensemble de règles de droit auxquelles l’homme d’affaires moyen sera
          vraisemblablement confronté dans le cadre de son activité </li></ul></p>

          <p> <h3><u> Sources du Droit: </u> </h3> <ul>
            <li><b>Lois </b>(codes)</li>
            <li><b>Jurisprudence </b>(Anciens arrêts), <span style="color:red;">CONTIENT: Désignation de l'autorité, Date, Code de l'arrêt, résumé, faits (exposé, procédure),
            droit (recevabilité, examen, dépens, émoluments)</span></li>
            <li><b>Doctrine </b>(publications académiques)</li>
            <li><b>Coutume </b>(si non codifié, faire "comme on a toujours fait")</li></ul></p>

            <p><h3><u> Lois: Hiérarchie des normes:</u></h3>
              <ul><li>Le droit international (si directement applicable)
                <ul><li>La Constitution fédérale
                    <ul><li>Les lois fédérales
                        <ul><li>Les ordonnances fédérales
                            <ul><li>Les directives (ordonnances administratives non contraignantes)</li></li></li></li></li></ul></ul></ul></ul></ul>

              <ul><li>Les constitutions cantonales
                  <ul><li>Les lois cantonales
                      <ul><li>Les ordonnances cantonales
                          <ul><li>Les directives cantonales (non contraignantes)</li></li></li></li></ul></ul></ul></ul>
            </p>


              <p> <h3><u> Rappels sur le CO: </u></h3>

                <ul><b> Types de règles</b>
                  <ul><li>Les règles générales et les règles spéciales.</li>
                      <li>Les règles de droit dispositif, impératif et semi-impératif.</li>
                      <li>Les règles de fond et les règles de procédure.</li>
                      <li>Les règles réservées (le droit X est réservé = X s’applique et, au besoin, prime).</li>
                      <li>Les règles applicables directement ou par analogie. </li></ul></ul>



              <ul><b>Enchaînement des dispositions (contrats)</b>
                <ol><li>Définir l'objet
                <ul>
                  <li>Liberté contractuelle, liberté de faire figurer les clauses souhaitées (art. 19 CO et 20)</li>
                  <li> Exceptions (nullité, 20 CO, restitution): <ul>
                    <li>Ne doit pas être contraire à la loi</li>
                    <li>Ne doit pas être contraire aux mœurs</li>
                    <li>Ne doit pas être impossible</li>
                    <li>Ne doit pas comporter un engagement excessif (art. 27 CO)</li></ul></li>
                </ul></li>
                  <li> Formation du contrat</li>
                  <li> Effets du contrat
                    <ul><li>
                      Prise d’effet du contrat (par ex. transfert des risques)</li>
                      <li> L’obligation du principal obligé (le vendeur, mandataire, bailleur, travailleur)</li>
                      <li> Les obligations du cocontractant-payeur (le maître de l’ouvrage) </li>
                    </ul></li>
                    <li> Fin du contrat (extinction)</li></ol></ul>
              </p>
          </div>
        </div><br><br><br>

          <div class="pages">
          <div id ="partie2" class="parties">
            <h1 class="titres">Contrats</h1>

            <p><h3><u> Obligation:</u></h3>
            <ul> <li>Le <span class="redBG">Débiteur</span> doit exécuter une prestation en faveur du <span class="redBG">Créancier</span>
              <ul><li>Le débiteur n’est pas toujours obligé d’exécuter lui-même la prestation (ex. art. 68 CO)</li>
              <li>La prestation ne doit pas nécessairement être effectuée au nom du créancier (ex. art. 112 CO)</li></ul></li>
              <li>Minimum deux personnes: le débiteur et le créancier (parties au rapport d’obligation)</li>
                <li>Prestation:
                <ul> <li>Positive/négative (ex. livrer une marchandise/ne pas faire concurrence)</li>
                    <li>De fait/de droit (ex. réparer une voiture/céder une créance)</li>
                    <li>Unique/périodique/continue (ex. payer prix de vente/payer le loyer/concéder l’usage d’une chose)</li></ul></li>
                <li>Un caractère contraignant ➜ sanction en cas d’inexécution
                <ul>Confère:<ul>
                    <li>Des droits de nature privée: «droit d’exiger, de recevoir et de bénéficier»</li>
                    <li>Des droits de nature publique: action en justice, exécution forcée</li>
                    <li>Un droit de se «satisfaire», le cas échéant, sur le patrimoine du débiteur</li>
                  </ul></ul></li>
                <li>Une cause juridique<ul>
                  L’obligation peut résulter notamment:<ul><li>
                    D’un contrat</li>
                    <li>D’un chef de responsabilité civile</li>
                    <li>D’une responsabilité précontractuelle</li></ul>
                </ul></li>
                <li> Toujours se demander: <span class="redBG">«Qui doit quoi à qui sur la base de quoi?» </span></li>
                </ul>
            </ul>

            </p>

            <p><h3><u> Contrat:</u></h3>
              <ul>
                <u><h4>Conditions pour la conclusion d'un contrat (1 CO)</u></h4>
                  <ul>
                    <li>Deux ou plusieurs parties</li>
                      <li>Deux ou plusieurs manifestations de volonté <span class="redBG">(réelle et commune intention)</span><ul>
                        <li>Si les parties ne voulaient pas ce qu'elles ont exprimé, on parle de <u>contrat simulé</u> (art. 18 CO.) Il
                        est donc nul et sans effet.</li>
                        <li>Toujours pour le contrat simulé: Si le tiers est devenu de bonne foi créancier sur la base d’une reconnaissance de dette écrite, le débiteur
                          ne pourra refuser de le payer en prétendant que le contrat simulé est invalide. </li>
                      </ul></li>
                      <li>Echange réciproque de manifestations de volonté</li>
                      <li>Concordance des volontés exprimées (si problème: interprétation de la volonté des parties)</li>
                  </ul>
                  <u><h4>Types de contrats</u></h4>
                  <ul>
                    <li>Selon leur relation à la loi<ul>
                        <li>Contrats nommés</li>
                        <li>Contrats innommés</li>
                        <li>Contrats mixtes</li>
                        <li>Contrats sui generis</li></ul></li>
                    <li>Selon la relation entre les prestations<ul>
                        <li>Contrats bilatéraux</li>
                        <li>Contrats unilatéraux</li>
                        <li>Contrats bilatéraux imparfaits</li>
                        <li>Contrats multilatéraux </li></ul></li>
                    <li>Selon leur relation au temps<ul>
                        <li>Contrats simples</li>
                        <li>Contrats de durée</li>
                        <li>Contrats analogues aux contrats de durée</li></ul></li>
                  </ul>

              </ul>
            </p>
          </div>
        </div>


        <br><br>
          <div class="pages">
            <u><h3>Ce que contient un contrat: </h3></u>
            <ul><li>Le contrat contient en général des clauses sur:
                <ul><li>Les obligations principales
            <li>Les obligations accessoires</li>
            <li>Les dispositions régissant le sort du contrat</li>
            <li>Transfert du contrat</li>
            <li>Résiliation du contrat</li></ul></li>
            <li>Détermination du droit applicable
            <ul>Droit suisse? Droit étranger?</li></ul></li>
            <li>Droits procéduraux
            <ul><li>Prorogation de for</li>
            <li>Compétence d’un tribunal étatique/arbitral</li></ul></li></ul>



            <u><h3>Forme du contrat: </h3></u>
            <ul>
              <u>Liberté de forme, sauf si disposition contraire (art. 11 CO), ou volonté de se lier selon une forme particulière (16 CO)</u>
              <ul>
                <li>Ex. vente immobilière (forme authentique, art. 216/1 CO)</li>
                <li>Ex. contrat d’apprentissage (forme écrite, art. 344a/1 CO)</li>
              </ul>
              <u><h4>Formes différentes: </u></h4>
                <ul>
                  <li>Forme Orale</li>
                  <li>Forme Ecrite (art.13 et 14, <span class="redBG">signature</span>)</li>
                  <li>Forme authentique</li>
                </ul>
                <u><h4>En cas de vice de forme: </u></h4>
                <ul>
                  <li>Nullité (11 al. 2 CO)</li>
                  <li>Exceptions:
                    <ul><li>Pas de nullité si (1) le contrat a été exécuté et (2) la partie qui invoque la nullité connaissait le
                    vice de forme (abus de droit, 2 CC)</li></ul></li>
                  </li>
                </ul>
            </ul>

            <u><h3>Vices de consentement <span class="redBG">(Sanctions: 31 CO) 1 an pour invoquer erreur</span>: </h3></u>
              <ul><li>Erreur essentielle (art. 23 CO):<ul>
                <li>Contenu du contrat (24 al.1 CO)</li>
                <li>Objet du contrat (24 al.2 CO)</li>
                <li>Personne du cocontractant (24 al.1 CO)</li>
              </ul></li></ul>
              <ul><li>Dol (art. 28 CO):
                  <ul><li>Existence ou non d'une erreur essentielle</li>
                    <li>Existence d'une tromperie
                  </li></ul></li>
              </li></ul>
              <ul><li>Crainte fondée (29 et 30 CO) </ul></li>
            </div><br><br><!--Fin page -->



            <div class="pages">
              <u><h3>Interpréter contrat: </h3></u>
              <ul><li><b>Si désaccord (art. 18 CO) [Dans l'ordre jusqu'à solution]:</b>
              <ol>
                <li>Juge examine et vérifie si le contrat apporte lui-même une solution </li>
                <li>Juge vérifie si le contrat exprime la volonté commune des contractants</li>
                <li>Juge vérifie si volonté commune</li>
                <li>Si rien de tout ça, il devine comment gérer l'embrouille </li>
              </ol></li><br>
              <li><b>En cas de doute sur le sens d'une clause:</b>
                <ul><li>Le juge donne sens à la clause (interprétation)</li>
                <li>Si la clause était obscure, le juge va à l'encontre de celui qui l'a rédigée</li></ul>
              </li>
            </ul>

            <u><h3> Structure typique du contrat: </h3></u>
            <ul><li><b>Titre:</b>
              <ul><li>("accord de collaboration", "convention", "contrat de vente")</li>
            </ul></li>

            <li><b>Identification des parties: </b><ul>
              <li>Domicile + Forme juridique ("entre M. ___, domicilié à ___ et la société X, de droit __ avec siège à ___")</li>
            </ul></li>

            <li><b>Préambule:</b><ul>
              <li>Raisons du contrat + Relations historiques entre les parties</li>
            </ul></li>

            <li><b>Définitions:</b><ul>
              <li><u>Eventuellement, renvoi à des définitions usuelles (ex: incotermes)</u></li>
              <li>Spécifier les abréviations à l'avance. Rappeler la nomenclature/les termes techniques</li></ul></li>

              <li> <b>Les obligations principales </b></li>

              <li><b>S’il y a un paiement: </b>Le montant, la devise, les taxes, le lieu du paiement, éventuellement les coordonnées bancaires.</li>

              <li><b>Le moment du transfert des risques</b> (si quelque chose change de mains)</li>
              <li> <b>Les "représentations" / garanties / engagements:</b>
                <ul><li>"La voiture a passé la visite le ___"; "le garage l’a expertisée et l’a trouvée en parfait état de marche"; "la peinture est d’origine".</li></ul></li>
              <li><b> Une éventuelle période de grâce pour remédier à une violation: </b>
              <ul><li>"La partie ayant violé l’art. X aura 30 jours pour réparer les conséquences de sa violation.
                Passé ce délai, elle doit une peine forfaitaire de X."</li></ul></li>
              <li><b>Les sanctions en cas de violation </b></li>

              <li><b>Une éventuelle cause pénale: </b><ul>
                <li>"Sinon, il paiera alors CHF 100’000.- [exclusivement, en sus des autres DI, indépendamment de toute faute]"</li>
                <li>Si excessif: le juge réduit !</li></ul></li>

                <li><b>Une procédure pour calculer les dommages à réparer</b> (Expert par exemple)</li>
                <li><b>Les intérêts moratoires (si retard):</b>
                <ul><li>"avec intérêt à 8% dès la mise en demeure".</li></ul></li>

                <li> <b> Eventuelles exclusions / exonérations de responsabilité </b>(Je ne réponds/suis responsable qu'en cas de faute grave)</li>
                <li><b>La durée du contrat</b></li>

                <li><b>Comment le contrat prend fin:</b>
                <ul><li>Naturellement, <i>par l’exécution, par ex. la livraison de la voiture vendue.</i> </li>
                  <li>Ou par action des parties, <i> le contrat peut être résilié par chaque partie moyennant préavis écrit donné 6 mois à l’avance.</i></li>
                </ul></li>

                <li><b>Les effets de l’insolvabilité</b> (au sens large) d’une partie.</li>
                <li><b>Les consignes pour les communications entre les parties</b> (Mails par exemple)</li>
                <li><b>Les obligations qui subsistent.</b><i> Ex: "S’engagent à ne pas dénigrer les produits du cocontractant"</i></li>
                <li><b>Les règles pour modifier le contrat. </b><i>Ex: "Toute modification doit être faite par écrit et être signée par les deux parties"</i></li>
                <li><b>Le moment à partir duquel le contrat déploie ses effets si pas dès la signature.</b></li>
                <li><b>Le for</b> (Tribunal compétent)</li>
                <li><b>Le droit applicable</b> (Droit qui régit le contrat) </li>
                <li><b>Des clauses d’exclusion de conventions internationales.</b> <i>(Ex: Convention sur la vente internationale de marchandises (CVIM).)</i></li>
            </ul>
          </div>

          <!--Fin page -->
          <br><br>
          <div class="pages">
            <ul><li><b>Signatures, Dates et lieu</b></li>
              <li><b>Eventuels pouvoirs des représentants</b> (Représentant de la personne/firme)</li>
              <li><b>Eventuelles annexes</b></li>
              <li><b>Le nombre d’exemplaires</b> Pour éviter un faux, <i>"fait en 2 exemplaires"</i></li>
              <li><b>Cas de force majeure: </b>
                <ul><li><i>"En cas d’impossibilité d’exécuter tout ou partie de vos engagements pour cause de
                    force majeure, une prolongation raisonnable vous sera octroyée, mais si au bout de 4
                    mois, vous ne vous êtes toujours pas exécuté, indépendamment de toute faute, je
                    serai en droit de résilier notre contrat. Une grève dans votre entreprise ne constitue
                    pas un cas de force majeure."</i></li></ul></li>
              <li><b>"Hardship" / "clausula rebus sic standibus"</b> Une obligation qui n'est pas proportionelle à ses coûts/bénéfices.</li>
              <li><b>Clause de confidentialité </b></li>
            </ul>

            <h3><u>Droit applicable et for: </u></h3>
            <p>Les parties peuvent se mettre d’accord sur le for et/ou sur le droit applicable. (art. 5 LDIP, les parties peuvent convenir
              du tribunal appelé à trancher [...] et doivent en fournir la preuve. For exclusif)</p>
            <p><i>CL, LDIP et CPC déterminent le for (tribunal compétent) et/ou le droit applicable:</i></p>
            <ul> <li><b>Le Code de Procédure Civile ("CPC")</b>, si toutes les parties sont en Suisse</li>
              <li><b>La Convention de Lugano ("CL")</b>, si le défendeur a son domicile dans un Etat ayant
                adopté la CL (ex. CH) et que le juge est saisi dans un Etat ayant adopté la CL.</li>
                <li><b>La Loi sur le droit international privé ("LDIP"),</b> si au moins une partie a son domicile
                  hors de Suisse (for + droit applicable) et pas d’application de la CL.</li>
                <li>Il existe encore d'autres conventions, spécialisées par thèmes (ex: convention sur la
                  loi applicables aux ventes à caractère international d’objets mobiliers corporels).</li>
                <li></u>Si les parties n'ont pas sélectionné un for:</u><ul>
                  <li><u>Le demandeur doit généralement agir devant les tribunaux du défendeur</u> [art. 112 LDIP].
                    <i>Son domicile actuel, pas celui lors de la conclusion !</i></li>
                    <li>Il peut toutefois agir en Suisse si la prestation devait être exécutée en Suisse [art. 113 LDIP] / si
                      l’obligation servant de base à la demande devait être exécutée en Suisse [art. 5 al. 1 LDIP].</li>
                </ul></li>
            </ul>

          <h3><u>Sanctions: </u></h3>
          <ul>
            <li><b>Responsabilité contractuelle</b> (97-101 CO, règles spéciales: 201-210 CO):
            <ul><li>Conditions:<ul><li>
              Tort moral ou Préjudice <span class="redBG">(Dommage positif[réelle diminution de patrimoine]/négatif[empêcher de faire un gain])</span>
            </li>
            <li><b>Violation du contrat</b> (Inexécution/Mauvaise exécution)</li>
            <li><b>Causalité naturelle</b> (rapport direct entre responsabilité et dommage) <b>et adéquate</b> (L’adéquation n’est pas donnée lorsque le résultat n’a été possible
              que par l’intervention de circonstances tout à fait extraordinaires)</li>
            <li><b>Faute</b></li>
          </ul>
        </li>
        <li>Effets:<ul>
          <li>Paiement de dommages et intérêts</li>
          <li>Fixation d'une indemnité (facteurs de réduction: 43 à 44 CO)</li>
          <li>Prescription: 10 ans </li>
        </ul>
            </ul></li>
            <li><b> Responsabilité par son fait personnel </b></li>
            <li><b> Responsabilité par le fait d'autrui </b><ul>
              <li>Dommage causé par auxiliaire</li>
              <li>Dommage causé dans le cadre de l'exécution du contrat  </li>
            </ul></li>
          </ul>
        </div><!--Fin page --><br><br>

        <div class="pages">
          <h3><u>Demeure du débiteur: </u></h3>
          <p>Si le débiteur n'exécute pas sa prestation à temps, il se voit reprocher l'inexécution du contrat.
            Cependant, le créancier ne peut pas demander réparation directement.
          </p>

          <ul><b>Demeure simple</b> (102 et suivants CO):
            <ul><li><i>Conditions:</i>
              <ul><li>
                <u>Exigibilité de la créance</u> (75 CO, exceptions: 82 et 83 CO)
              </li>
              <li><u>Arrivée à l'échéance:</u> <ul>
                <li>Par contrat (102 al. 2 CO)</li>
                <li>Par interpellation (art. 102 al. 1 CO, exception: 108 CO)</li>
                <li>Inexécution de l'obligation</li>
                <li>Absence de motif justificatif </li>
            </ul></li></ul></li>
            <li><i>Effets:</i>
              <ul><li><u>Pour les dettes hors dettes d’argent:</u>
                <ul><li>Obligation de réparer le préjudice avec DI de retard (97 et 101 CO, sauf 103 CO)</li>
                <li>Possibilité de mettre le débiteur en demeure qualifiée</li></ul>
              </li>
            <li><u>Pour les dettes d'argent:</u>
              <ul>
                <li>Intérêts moratoires (104 CO)</li>
                <li>Dommages supplémentaires (106 CO)</li>
                <li>Mise en poursuite possible</li>
              </ul>
            </li>
            </ul>
            </li>
            </ul>
            <br>
            <b>Demeure qualifiée </b>(107 à 109 CO):
            <ul><li><i>Choix:</i>
              <ul><li><u>Action en exécution</u> (107 al.2 CO) [en nature, à l'aide de la force publique]</li>
              <li><u>Droits supplémentaires</u> [exécution en argent (DI), Résolution du contrat (DI)]</li>
            </ul></li><br>
            <li><i>Conditions d'exercice des droits supplémentaires:</i>
              <ol><li><u>Délai de grâce</u> (107 CO, sauf 108 CO)</li>
                <li><u>Déclaration immédiate</u> (à l’échéance du délai de grâce) du créancier selon laquelle il entend faire usage de ses droit supplémentaires.</li>
              </ol></li>
            <br>
            <li><i>Effets:</i>
              <ul>
                <li> Soit: <u>Maintien du contrat mais modification de celui-ci</u> (art. 107 al. 2 CO) [Prestation en nature remplacée par une prestation en argent = dommages et intérêts positifs =
                  dommages et intérêts pour cause d’inexécution]</li>
                <li>Soit: <u>Résolution du contrat</u> (art. 107 al. 2 et 109 al. 1 CO) [Extinction du contrat et DI négatifs ]</li>
              </ul></li>
          </ul>

          </ul>



        </div>

      </br><br>
        <div class="pages"><h1 class="titres">Contrat de Vente</h1>
          <p class="index">184 à 221 CO</p>
          <h3><u>Définition:</u></h3>
          <ul><li> <i>La vente est un contrat par lequel le vendeur s'oblige à livrer la chose
            vendue à l'acheteur et à lui en transférer la propriété, moyennant un
            prix que l'acheteur s'engage à lui payer</i> (art. 184 al. 1 CO)</li>
          <li>Forme libre (liberté contractuelle), à part en cas de vente immobilière: Forme authentique (216 CO)</li></ul>


          <h3><u>La chose doit être:</u></h3>
            <ul><li>Au minimum déterminable</li>
              <li>On peut vendre une chose future</li>
              <li>Le vendeur n'est pas forcément propriétaire</li>
              <li><u>Une chose peut être:</u> <ul>
              <li>Une créance</li>
              <li>Des actions</li>
              <li>Un droit de propriété intellectuelle</li>
              <li>Une entreprise</li>
              <li>Un immeuble/servitude</li>
              <li>Etc.</li></ul></li>
            </ul>


            <p>Le contrat de vente requiert une <b>chose</b>, un <b>vendeur</b> (engagement de livrer + transférer sa propriété) et un <b>acheteur</b> (Engagement de payer le prix.)
              <ul><h4><u>Elèments supplémentaires (optionnels): </u></h4>
              <ul>
                <li><b>Livraison</b> (Date et lieu, 74, 75 et 211 CO)</li>
                <li>Qui assume les <b>frais de livraison</b> (Acheteur par défaut, 189 CO)</li>
                <li>Qui assume les <b>impôts/taxes?</b></li>
                <li><b>Précisions </b>sur la chose vendue</li>
                <li>Eventuelles <b>autorisations utiles</b></li>
                <li><b>Garanties</b></li>
                <li>Solutions en cas d'appel à la garantie</li>
                <li><b>Exercice des droits</b></li>
              </ul></li></ul>


              <h3><u>Obligations: </u></h3>
              <ul><li><u>Du vendeur:</u>
                <ul>
                  <li><b>Obligation de livrer</b> (184 CO) [transfert de la possession et de la maîtrise de fait]</li>
                  <li><b>Obligation de transférer la propriété</b> (184 CO) [Immeubles: 963 CC (registre foncier), Meubles: 714-715 CC]</li>
                </ul>
              </li>
              <li><u>De l'acheteur:</u>
                <ul>
                  <li>Obligation de payer le prix (211 CO)</li>
                  <li>En monnaie suisse ou étrangère</li>
                  <li>Prix déterminé ou déterminable, liberté contractuelle du prix (sauf 27 CC)</li>
                  <li>Mode de paiement:<ul>
                    <li>Au comptant</li>
                    <li><b>Lieu du paiement</b> (74 CO): domicile du vendeur</li>
                    <li>Intérêts seulement en cas de demeure</li>
                  </ul></li>
                  <li> Actes préparatoires </li>
                  <li> Règles de ocmportement </li>
                  <li> Autres obligations contractuelles</li>
                  <li>Devoir accepter la chose </li>
                </ul></li>
            </ul>

          </div>
<br><br>
          <div class="pages">
            <h3><u>Inexécutions: </u></h3>
            <ul><li><b>Demeure du vendeur:</b>
            <ul>
              <li><b>Régime général</b> (102 ss CO)</li>
              <li>Régime spcial des ventes commerciales: <ol>
                <li>Fixer un délai (108 CO)</li>
                <li>Demander des DI positifs (107 CO), si acheteur tient à être livré en nature: informer directement à l'échéance (190 CO)</li>
                <li>Calculer DI:<ul>
                  <li>Règle ordinaire (107 et 191 CO)</li>
                  <li>Règles spéciales (190 CO)</li>
                </ul></li>
              </ol></li>
            </ul></li></ul>

            <h3><u>Garanties pour les défauts (197 à 210 CO): </u></h3>
            <ul>
              <li>L'acheteur peut exercer son droit de garantie s'il manque une qualité promise à laquelle il pouvait s'attendre et qu'il n'était pas
              au courant de ce défaut au moment de la conclusion du contrat.</li>
              <li>Cependant, il a le devoir de vérifier la chose dès que possible (201 CO). Et de signaler immédiatement les défauts.
                (Sauf en cas de tromperie du vendeur, 203 CO.)</li>
              <li>Prescription: 2 ans (meubles), 5 ans (immeubles)</li>
              <li><u>Effets:</u>
                <ul><li><u>Droit de l’acheteur de demander la <b>résolution du contrat</b></u> (art. 205 al. 1 CO) [Sauf si défaut trop lèger (205 al. 2 CO),
                  ou si plus capable de restituer la chose (207 CO)], de demander une <b>réduction du prix</b> (205 CO) ou un <b>remplacement</b> (206 CO)</li>
                <li>Devoir de l'acheteur de <b>restituer la chose avec les profits qu'il en a tirés</b> (208 CO)</li>
                <li>Devoir du vendeur: <b>Restituer le prix payé</b> (208 CO), <b>Rembourser les frais de procès</b> (208 CO),
                  <b>Réparation des dommages</b> directs et indirects</li></ul></li>
                <li><b>Solutions contractuelles:</b> Les parties peuvent <u>exclure toutes garanties ou les limiter</u> [Limites:
                  100, 101 et 199 CO]</li>
            </ul>


            <h3><u>Distinctions: </u></h3>
            <ul><li><b>Pas de prix: </b>Donation</li>
              <li><b>Deux transferts de choses:</b> échange </li>
              <li><b>Services</b> (contrat de travail, mandat, entreprise)</li>
              <li><b>Mise à disposition sans transfert de propriété: </b>Bail/prêt</li></ul>


        </div>

  <script>
  var numpage = document.getElementsByClassName("pages");
  for(i in numpage){
    i++;
    var numeros = document.createElement("div");
    numeros.innerHTML = i;
    numeros.className = "nums";
    i--;
    numpage[i].append(numeros);
  }


  </script>
  </body>
</html>
