<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/main.css">
    <title>Streaming</title>
  </head>
  <body>
    <table>
      <tr>
        <th><h1>Name</h1></th>
        <th><h1>View Count</h1></th>
      </tr>
    <% for(x in filmList){ %>
    <tr>
      <td>
        <a href="/films/<%= filmList[x].nom %>">
        <%= filmList[x].nom %></a>
      </td>
      <td>
        <%= filmList[x].vues %>
      </td>
  <%} %>
</table>
  </body>
</html>
