<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <script src="/jquery"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/mdl.js"></script>
  <title id="upl">Upload</title>
  <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

  <p>Faites télécharger des films directement depuis le serveur
  en entrant le nom du film et le lien de téléchargement</p>

  <br>Url: <input type="url" id="url"/>
  <br>
  <br>Nom: <input type="text" id="fname"/>
  <br><br>
<button id="btn"> Upload</button>
<br><br>
<div id="valid"></div>
</body>
</html>
